<div class="flex justify-center items-center">
  <h1 *ngIf="!user">loading.......</h1>
  <div
    *ngIf="user"
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ user ? user.name : "User not available" }}
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      {{ user ? user.email : "User not available" }}
    </p>
    <button
      *ngIf="user"
      type="button"
      (click)="logout()"
      class="text-white mt-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Logout
    </button>
  </div>
</div>
