<div
  class="shadow-[0px_2px_15px_6px_#ddd] p-10 animate__animated animate__slideInRight"
>
  <h1 class="mb-8 fw-bold text-2xl text-bold text-black capitalize">
    what we are moving?
  </h1>
  <div *ngIf="cargoItems?.length" class="border-b border-gray-300 mb-6">
    <div
      *ngFor="let cargoItem of cargoItems; let i = index"
      class="mb-4 max-w-[35%] shadow-xl p-4"
    >
      <div class="flex items-center gap-4">
        <h3>{{ i + 1 }}.</h3>
        <h2 class="capitalize">
          {{ cargoItem.title }} - {{ cargoItem.weight }}kg
        </h2>

        <span
          (click)="removeCargoItem(cargoItem.title)"
          class="ms-auto hover:bg-gray-100 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          <!-- <img src="https://icons8.com/icon/68138/trash-can"> -->
          <svg
            width="32"
            height="32"
            viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="100" height="100" rx="2" ry="2" fill="transparent" />
            <line
              x1="30"
              y1="35"
              x2="70"
              y2="65"
              stroke="#000"
              stroke-width="10"
            />
            <line
              x1="70"
              y1="35"
              x2="30"
              y2="65"
              stroke="#000"
              stroke-width="10"
            />
          </svg>
        </span>
      </div>
      <p class="text-base">{{ cargoItem.des }}</p>
      <div class="flex items-center gap-4 mt-2 ms-6">
        <h3 class="flex items-center gap-4">
          <span
            (click)="quantityChange(i, -1)"
            [ngClass]="{ disabled: cargoItem.pis <= 1 }"
            class="hover:bg-gray-100 p-2 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            <svg
              width="20"
              height="20"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="10" y="45" width="80" height="10" fill="#333" />
            </svg>
          </span>
          <span class="w-[40px] text-center">{{ cargoItem.pis }}</span>
          <span
            (click)="quantityChange(i, 1)"
            class="hover:bg-gray-100 p-2 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            <svg
              width="20"
              height="20"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="10" y="45" width="80" height="10" fill="#333" />
              <rect x="45" y="10" width="10" height="80" fill="#333" />
            </svg>
          </span>
        </h3>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" class="mb-12">
    <div class="flex items-center relative">
      <input
        [(ngModel)]="cargoItemName"
        (input)="searchCargoItem()"
        type="text"
        name="cargoItem"
        class="w-[420px] me-4 p-4 px-8 text-md text-gray-900 border border-gray-300 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Add Cargo Item"
        required
      />
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-md p-4 px-10 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Add
      </button>
      <div
        style="z-index: 99"
        *ngIf="cargoItemsSuggetions?.length"
        class="max-h-[320px] overflow-y-auto mt-4 absolute top-10 alskfdl10 w-[30%] bg-[#ededed] rounded border-2 border-mblue"
      >
        <div
          *ngFor="let cargoItem of cargoItemsSuggetions"
          class="hover:bg-white rounded"
        >
          <div
            (click)="setCargoItem(cargoItem)"
            class="cursor-pointer py-2 px-4"
          >
            <!-- <div class> -->
            <h3 class>{{ cargoItem.title }}</h3>
            <p class="ms-4 text-sm text-gray-300" *ngIf="cargoItem?.des">
              {{ cargoItem.des }}
            </p>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="flex items-center gap-4">
    <button
      (click)="goBack()"
      class="text-blue-700 border border-gray-300 hover:bg-blue-100 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-md p-4 px-10 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Back
    </button>
    <button
      (click)="setCargoValue()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-md p-4 px-10 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Countinue
    </button>
  </div>
</div>
