.cardImg {
  max-width: 320px;
  // border: #555 solid 1px;
  img {
    max-width: 60%;
    margin: auto;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #555;
  }
}
