<div class="app_banner">
  <div class="max-w-[80vw] mx-auto py-12">
    <h1>Last Mile, Middle Mile, Extra Mile</h1>
    <p>
      Connect with delivery professionals on demand for last mile delivery &
      help moving nationwide
    </p>
    <button
      routerLink="/booking/1"
      style="background-color: #dc3f27"
      type="button"
      class="text-white focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
    >
      Book Now
    </button>
  </div>
</div>
