<div class="delivery_promotion">
  <div class="max-w-[80vw] mx-auto py-12">
    <h1>We make delivery quick and easy</h1>
    <p>
      GoShare connects you with background checked delivery professionals on
      demand for help with last mile delivery, middle mile logistics and moving
      services. From pallets to furniture and parcels, if you need something
      delivered or moved, we’ve got you covered. Our nationwide network of more
      than 20,000 box trucks, cargo vans, pickup trucks and sedans are available
      to help you the same day or you can schedule in advance. Get a free
      estimate before you book on our website or by downloading our highly rated
      mobile apps on iPhone and Android. Business customers can integrate
      GoShare using our Delivery API.
    </p>
    <div class="flex gap-12 items-center justifu-between my-10">
      <app-home-card
        img="truck-img4-with-helper-2.png"
        title="Box Truck"
        pera="Best for Less than truckload (LTL), pallets, 1-2 bedroom apartments, small homes"
      >
      </app-home-card>
      <app-home-card
        img="truck-img3-with-helper.png"
        title="Cargo Van"
        pera="Great for cargo that need to be kept dry, 1-4 big box items, studio apartments, queen mattress w/ box"
      ></app-home-card>
      <app-home-card
        img="truck-img2-2.png"
        title="Pickup Truck"
        pera="Great for 1-2 big box items, single pieces of furniture, lumber & home improvement"
      ></app-home-card>
      <app-home-card
        img="car-img1.png"
        title="Courier"
        pera="Perfect for small parcels, documents, packages, and retail purchases. No furniture"
      ></app-home-card>
    </div>
  </div>
</div>

<div class="promotion_bg">
  <div class="max-w-[80vw] mx-auto py-18">
    <h1>
      Trusted by leading companies for last mile and middle mile logistics
    </h1>
    <button
      routerLink="/booking/1"
      style="background-color: #dc3f27"
      type="button"
      class="text-white focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
    >
      Learn More About GoShare for Business
    </button>
  </div>
</div>

<div class="how_it_work">
  <div class="max-w-[80vw] mx-auto py-18">
    <h1>How it works</h1>
    <div class="works-div">
      <div class="show">
        <img src="assets/images/how-it-work.png" alt />
      </div>
      <div class="text">
        <div class="single_text">
          <h2>1. Find Your Delivery Pro</h2>
          <p>
            Get a free estimate in the app, set a pickup time and location, and
            find a pro - all in about a minute
          </p>
        </div>
        <div class="single_text">
          <h2>2. Get Movin’</h2>
          <p>
            The GoShare pros will load, secure, transport and unload your items.
            You just tell them where you want them to put it.
          </p>
        </div>
        <div class="single_text">
          <h2>3. Track & Pay in the App</h2>
          <p>
            Track the progress of your delivery, pay, tip and review - all in
            the app!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="choose_goshare">
  <div class="max-w-[80vw] mx-auto">
    <h1>Why Choose GoShare</h1>
    <p>for Last Mile Delivery and Moving Services?</p>
    <div class="choose_items">
      <app-home-card
        img="cont-ico1.png"
        title="Flexible Scheduling"
        pera="Say goodbye to long delivery windows. Set a time that works for you. Schedule a pickup 7 days a week between 5:00am-11:30pm"
      >
      </app-home-card>
      <app-home-card
        img="cont-ico2.png"
        title="Affordable Pricing"
        pera="We use machine learning to give you a fair and accurate upfront price estimate. Save 50% compared to traditional providers."
      >
      </app-home-card>
      <app-home-card
        img="cont-ico3.png"
        title="Convenience"
        pera="Our technology makes it easier than ever to book, track, communicate & pay. Request a Delivery Professional in one minute."
      >
      </app-home-card>
      <app-home-card
        img="cont-ico4.png"
        title="Peer-Reviewed"
        pera="All delivery pros are reviewed by other customers like you. This helps us make sure you only get the best delivery professionals every time."
      >
      </app-home-card>
      <app-home-card
        img="cont-ico5.png"
        title="You are Protected"
        pera="Your cargo is protected by our comprehensive cargo insurance and liability insurance policies."
      >
      </app-home-card>
      <app-home-card
        img="cont-ico6.png"
        title="Safe and Reliable"
        pera="All GoShare delivery professionals are licensed, insured, background checked and reviewed."
      >
      </app-home-card>
    </div>
  </div>
</div>
<div class="choose_goshare">
  <div class="max-w-[80vw] mx-auto">
    <h1>Our Services</h1>
    <p>All moves can be scheduled in advance, or same day!</p>
    <div class="choose_items">
      <app-home-card
        img="service_ico1.png"
        title="Last Mile Delivery"
        pera="GoShare partners with local businesses and retailers to provide on-demand last mile delivery. GoShare can also be hired by individuals for store pickups."
      >
      </app-home-card>

      <app-home-card
        img="service_ico6.png"
        title="LTL Shipments"
        pera="Select one of our large cargo vans or box truck drivers to get LTL, or Less Than Load, shipment to its destination. GoShare is ideal for pallets and other middle mile cargo."
      >
      </app-home-card>

      <app-home-card
        img="Warehouse-Icon-SQ.png"
        title="B2B Logistics"
        pera="Whether you're delivering from warehouses and distribution centers to storefronts or transferring products between stores, GoShare can help your business keep moving."
      >
      </app-home-card>

      <app-home-card
        img="cont-ico3.png"
        title="Home and Office Moves"
        pera="Got a new place? Use GoShare for home and apartment moves. Let our drivers help with the loading, transportation, and unloading of your furniture including beds, tables, couches, and more."
      >
      </app-home-card>

      <app-home-card
        img="Wheelbarrow-Icon-SQ.png"
        title="Construction and Jobsites"
        pera="Deliver supplies, equipment, building materials, heavy machinery, and more to jobsites with GoShare."
      >
      </app-home-card>

      <app-home-card
        img="GoShare_V1D.jpg"
        title="Courier Service"
        pera="Same-day local letter, mail, package, and small parcel delivery."
      >
      </app-home-card>
    </div>
  </div>
</div>
